{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container cd_content">
        <div class="card mb-3" style="max-width: 850px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="about_info">
                        <div>
                            <h5 class="card-title">
                                Привет!<br>
                                <br>
                                Меня зовут Настя, и я сделаю для тебя самый вкусный десерт!
                            </h5>
                        </div>
                        <div>
                            <h5 class="card-text">
                                Каждый торт для меня - это мини-проект, к которому я подхожу со всей ответственностью и вниманием. 
                                Начиная от обсуждения декора, заканчивая доставкой.<br>
                                <br>    
                                «Все именно так, как нам и хотелось!» - заветные слова, которые означают, 
                                что мы поняли друг друга и праздник удался, а это самое главное!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'img/about/about.jpg' %}" width="100%">
                </div>
            </div>
        </div>
    </div>
{% endblock %}