{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container cd_content" style="margin-bottom: 10px;">
        <div class="card mb-3" style="max-width: 850px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="about_info">
                        <div>
                            <h5 class="card-title">
                                Привет!<br>
                                <br>
                                Меня зовут Настя, и я сделаю для тебя самый вкусный десерт!
                            </h5>
                        </div>
                        <div>
                            <h5 class="card-text">
                                Каждый торт для меня - это мини-проект, к которому я подхожу со всей ответственностью и вниманием. 
                                Начиная от обсуждения декора, заканчивая доставкой.<br>
                                <br>    
                                «Все именно так, как нам и хотелось!» - заветные слова, которые означают, 
                                что мы поняли друг друга и праздник удался, а это самое главное!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'img/about/about.jpg' %}" width="100%">
                </div>
            </div>
        </div>
        <!-- <div class="card bg-dark text-white">
            <img src="{% static 'img/about/about.jpg' %}" class="card-img" style="max-width: 450px;">
            <div class="card-img-overlay">
                <h3 class="card-title">Привет!<br>Меня зовут Настя и я сделаю для тебя самый вкусный десерт!</h3>
                <p class="card-text">
                    Каждый торт для меня - это мини-проект, к которому я подхожу со всей ответственностью и вниманием. 
                    Начиная от обсуждения декора, заканчивая доставкой. 
                    «Все именно так, как нам и хотелось!» - заветные слова, которые означают, 
                    что мы поняли друг друга и праздник удался, а это самое главное!
                </p>
            </div>
        </div> -->
        <!-- <div>
            <img class="about_photo" src="{% static 'img/about/about.jpg' %}" alt="">
        </div>
        <div>
            <h3>Привет!<br>Меня зовут Настя и я сделаю для тебя самый вкусный десерт!</h3>
            <p>
                Каждый торт для меня - это мини-проект, к которому я подхожу со всей ответственностью и вниманием. 
                Начиная от обсуждения декора, заканчивая доставкой. 
                «Все именно так, как нам и хотелось!» - заветные слова, которые означают, 
                что мы поняли друг друга и праздник удался, а это самое главное!
            </p>
        </div> -->
    </div>
{% endblock %}