{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="cd_content">
        <div>
            <img class="about_photo" src="{% static 'img/about/about.jpg' %}" alt="">
        </div>
        <div>
            <h3>Привет!<br>Меня зовут Настя и я сделаю для тебя самый вкусный десерт!</h3>
            <p>
                Каждый торт для меня - это мини-проект, к которому я подхожу со всей ответственностью и вниманием. Начиная от обсуждения декора, заканчивая доставкой. 
«Все именно так, как нам и хотелось!» - заветные слова, которые означают, что мы поняли друг друга и праздник удался, а это самое главное!
            </p>
        </div>
    </div>
{% endblock %}