{% extends 'base.html' %}
{% block content %}
    <div class="container cd_content">
        <div>
            <h3>Контакты</h3>
            <hr>
            <p>
                Если у Вас возникли вопросы, Вы можете задать их:<br>
                <ul class="contacts">
                    <li>
                        <em>
                            в группе ВК <a href="https://vk.com/siberia_cake" target="_blank">Siberia Cake</a>
                        </em>
                    </li>
                    <li>
                        <em>
                            в мессенджерах <a href="https://t.me/anastasia_sib" target="_blank">Telegram</a>
                            или <a href="https://wa.me/79163781454" target="_blank">WhatsApp</a>
                        </em>
                    </li>
                    <li>
                        <em>
                            в директ <a href="https://www.instagram.com/siberia_cake" target="_blank" title="* - Meta Platforms Inc. признана экстремистской организацией и запрещена на территории РФ">Instagram*</a>
                        </em>
                    </li>
                    <li>
                        <em>
                            позвонив по телефону: +79163781454
                        </em>
                    </li>
                </ul>
                Пожалуйста, пишите или звоните, и я с радостью отвечу<br> на все Ваши вопросы, расскажу и подскажу.
            </р>
            <hr>
            <hr>
        </div>
        <div>
            <h3>Доставка</h3>
            <hr>
            <p>
                На данный момент есть несколько способов получить заказ:
                <ul class="contacts">
                    <li>
                        <em>Самовывоз: Я нахожусь в Щелковском районе, Оболдино</em>
                    </li>
                    <li>
                        <em>Доставлю лично, если длина маршрута не превысит 40 км</em>
                        Доставка в Щелково и Королёв БЕСПЛАТНАЯ,
                        в остальных случаях рассчитывается в зависимости от расстояния.<br>
                        Для расчета стоимости укажите станцию метро или населенный пункт.
                    </li>
                </ul>
                Если расстояние до Вас больше 40 км, а сладенького хочется,<br>есть альтернативные способы:
                <ul class="contacts">
                    <li>
                        <em>Могу встретиться с Вами около м.Ботанической сад или м.Бульвар Рокоссовского (500 руб.)</em>
                    </li>
                    <li>
                        <em>Можно воспользоваться курьерской доставкой, например, от Яндекса</em>
                    </li>
                </ul>
            </p>
        </div>
    </div>
{% endblock %}