{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
            ym(92019785, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/92019785" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <!-- Свои css -->
        <link rel="icon" href="{% static 'img/icons/icon.png' %}" type="icon/png">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- Шрфит -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <main>
            <div class="main_block">
                {% include 'includes/header.html' %}
                <div class="main_logo">
                    <img class="img_logo" src="{% static 'img/main_page/pic.png' %}" alt="">
                </div>
                <div class="order_button">
                    <button type="button" class="btn btn-danger" style="border-radius: 0%;">
                        <a href="{% url 'products:contacts' %}" style="text-decoration: none; color: rgb(238, 238, 238);">
                            Заказать десерт
                        </a>
                    </button>
                </div>
                <div class="block_photo">
                    <div class="ref_photo">
                        <img src="{% static 'img/main_page/2021_08_24 int 0020.jpg' %}" alt="">
                    </div>
                    <div class="ref_photo">
                        <img src="{% static 'img/main_page/2021_08_24 int 0090.jpg' %}" alt="">
                    </div>
                    <div class="ref_photo">
                        <img src="{% static 'img/main_page/image.jpg' %}" alt="">
                    </div>
                    <div class="ref_photo">
                        <img src="{% static 'img/main_page/image2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>