{% extends 'base.html' %}
{% block content %}
    <div class="content_block">
        <div class="block_tags">
            <ul class="tags">
                <li class="category_block">Категории:</li>
                <li><hr></li>
                <li>
                    <a class="ref_tag" href="{% url 'products:works' %}"><em>Весь ассортимент</em></a>
                </li>
                {% for tag in tags %}
                    <li><hr></li>
                    <li>
                        <a class="ref_tag" href="{% url 'products:work_by_tag' tag.slug %}"><em>{{ tag.name }}</em></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="block_prod">
            {% for element in obj_on_display %}
                <div class="block_item">
                    <div>
                        <img class="im_prod" src="{{ element.image.url }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'includes/paginator.html'%}
{% endblock %}