{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="p-4">
                <h4 class="font-italic">Категории:</h4>
                <ol class="list-unstyled mb-0">
                    <li><hr></li>
                    <li>
                        <a class="ref_tag" href="{% url 'products:works' %}"><em>Весь ассортимент</em></a>
                    </li>
                    {% for tag in tags %}
                        <li><hr></li>
                        <li>
                            <a class="ref_tag" href="{% url 'products:work_by_tag' tag.slug %}"><em>{{ tag.name }}</em></a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="cat_list">
                <div class="dropdown">
                    <div class="btn-group dropright">
                        <button type="button" class="btn cat_button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Категории:
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="ref_tag" href="{% url 'products:works' %}"><em>Весь ассортимент</em></a>
                        </li>
                            {% for tag in tags %}
                                <li><hr></li>
                                <li>
                                    <a class="ref_tag" href="{% url 'products:work_by_tag' tag.slug %}"><em>{{ tag.name }}</em></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-8'>
            <div class="album py-5">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for element in obj_on_display %}
                        <div class="col">
                            <div class="card shadow-sm text-center">
                                <img src="{{ element.image.url }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include 'includes/paginator.html'%}
            </div>
        </div>
    </div>
</div>
{% endblock %}