{% load static %}
<div class="block_footer">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 footer_marg border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img class="footer_logo" src="{% static 'img/icons/pngwing.com.png' %}" width="50" height="50">
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 Siberia cake</span>
            
        </div>
    
        <ul class="list-unstyled d-flex">
            <li class="ms-3">
                <a href="https://t.me/anastasia_sib" target="_blank">
                    <img src="{% static 'img/icons/telegram.svg' %}" width="26" height="26">
                </a>
            </li>
            <li class="ms-3">
                <a class="link-dark" href="https://wa.me/79163781454" target="_blank">
                    <img src="{% static 'img/icons/whatsapp.svg' %}" width="26" height="26">
                </a>
            </li>
            <li class="ms-3">
                <a class="star_inst" style="text-decoration: none;" href="https://www.instagram.com/siberia_cake" target="_blank" title="* - Meta Platforms Inc. признана экстремистской организацией и запрещена на территории РФ">
                    <img src="{% static 'img/icons/instagram.svg' %}" width="26" height="26">
                </a>
                <span>*</span>
            </li>
            <li class="ms-3">
                <a href="https://vk.com/siberia_cake" target="_blank">
                    <img src="{% static 'img/icons/vk.svg' %}" width="26" height="26">
                </a>
            </li>
        </ul>
        </footer>
    </div>
</div>