<ul class="tags">
    <li class="category_block">Категории:</li>
    <li><hr></li>
    <li>
        <a class="ref_tag" href="{% url 'products:product' %}"><em>Весь ассортимент</em></a>
    </li>
    <li><hr></li>
    <li>
        <a class="ref_tag" href="/tags/bento/"><em>Бенто-торты</em></a>
    </li>
    <li><hr></li>
    <li>
        <a class="ref_tag" href="/tags/biscuit/"><em>Бисквитные торты</em></a>
    </li>
    <li><hr></li>
    <li>
        <a class="ref_tag" href="/tags/cupcakes/"><em>Капкейки</em></a>
    </li>
    <li><hr></li>
    <li>
        <a class="ref_tag" href="/tags/macarons/"><em>Макарон</em></a>
    </li>
    <li><hr></li>
    <li>
        <a class="ref_tag" href="/tags/mousse/"><em>Муссовые торты</em></a>
    </li>
    <li><hr></li>
    <li>
        <a class="ref_tag" href="/tags/sets/"><em>Наборы</em></a>
    </li>
    <li><hr></li>
    <li>
        <a class="ref_tag" href="/tags/portion/"><em>Порционные десерты</em></a>
    </li>
    <li><hr></li>
    <li>
        <a class="ref_tag" href="/tags/rolls/"><em>Рулеты</em></a>
    </li>
</ul>

